@model NavbarModel

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
        <img src="~/images/shield.png" width="30" height="30" class="d-inline-block align-top" alt="logo" /> Identity Platform
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            @foreach (NavLocation navLocation in Model.NavLocations)
            {
                <li class="@(navLocation.IsActive ? "nav-item active" : "nav-item")">
                    <a class="nav-link" asp-controller="@navLocation.Location.Controller" asp-action="@navLocation.Location.Action">@navLocation.Location.Name</a>
                </li>
            }
        </ul>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="btn-group">
                <a class="btn btn-dark text-white" asp-controller="Account" asp-action="View">
                    <img alt="" width="30" height="30" user-claims-principal="@User"/>
                    <span class="mx-1"></span>
                    <span>@Model.CurrentUser.UserName</span>
                </a>

                <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" asp-controller="Account" asp-action="View">My Profile</a>

                    <div class="dropdown-divider"></div>

                    <form class="form-inline" method="post" asp-controller="Account" asp-action="Logout">
                        <button class="dropdown-item" type="submit">Sign out</button>
                    </form>
                </div>
            </div>
        }
    </div>
</nav>